### 42. Si la experiencia de un usuario es la cantidad de logs en los que participó, ¿cuál es la tasa de contenidos cuya última revisión no tiene comentario en función de la experiencia de su revisor? (⭐⭐⭐)

In [1]:
import numpy as np
import pandas as pd

In [2]:
dfLogs = pd.read_csv("../Dataset/logs.csv", usecols = ["contributor_username", "contributor_ip"])
dfLogs.head()

/home/manu/Documentos/Facultad/Datos/2021B/venv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  contributor_username contributor_ip
0               Sabbut            NaN
1               Sabbut            NaN
2               Sabbut            NaN
3               Sanbec            NaN
4               Sanbec            NaN

In [3]:
dfContents = pd.read_csv("../Dataset/contents.csv", usecols = ["revisor_username", "revisor_ip", "revisor_comment"])
dfContents.head()

,revisor_username,revisor_ip,revisor_comment
0,Metrónomo,NaN,Así esta mejor
1,NaN,2800:CD0:FC1B:A900:C5A4:9E81:7175:2ED2,Añadir contenido
2,Traitrich,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...
3,Lojwe,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...
4,Jialxv,NaN,Correcciones ortográficas con [[Usuario:Benjav...

In [5]:
dfLogs["contributor_username"].fillna(dfLogs["contributor_ip"], inplace = True)
dfContents["revisor_username"].fillna(dfContents["revisor_ip"], inplace = True)

In [6]:
dfParticipaciones = dfLogs.groupby("contributor_username").agg({"contributor_username": "count"})
dfParticipaciones.columns = ["experiencia"]
dfParticipaciones.head()

                                                experiencia
contributor_username
! ! ! ! ! ! ! ! ! ! ! ! ! ! HAGGEⓇ? 123                   1
! ! ! Histoire hebdomadaire de la patrie ! ! !            1
! Bikkit !                                                1
! DanSkammelsrod !                                        1
! Gabriel !                                               1

In [7]:
dfContents["empty_comment"] = dfContents["revisor_comment"].isna()
dfContents.head()

,revisor_username,revisor_ip,revisor_comment,empty_comment
0,Metrónomo,NaN,Así esta mejor,False
1,2800:CD0:FC1B:A900:C5A4:9E81:7175:2ED2,2800:CD0:FC1B:A900:C5A4:9E81:7175:2ED2,Añadir contenido,False
2,Traitrich,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False
3,Lojwe,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False
4,Jialxv,NaN,Correcciones ortográficas con [[Usuario:Benjav...,False

In [8]:
dfMerged = dfContents.merge(dfParticipaciones,
                            how = "left",
                            left_on = "revisor_username",
                            right_on = "contributor_username")
dfMerged.head()

,revisor_username,revisor_ip,revisor_comment,empty_comment,experiencia
0,Metrónomo,NaN,Así esta mejor,False,11256.0
1,2800:CD0:FC1B:A900:C5A4:9E81:7175:2ED2,2800:CD0:FC1B:A900:C5A4:9E81:7175:2ED2,Añadir contenido,False,NaN
2,Traitrich,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False,236.0
3,Lojwe,NaN,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False,1049.0
4,Jialxv,NaN,Correcciones ortográficas con [[Usuario:Benjav...,False,1012.0

In [9]:
dfMerged["experiencia"].fillna(0, inplace = True)

In [10]:
dfComentarios = dfMerged.groupby("experiencia").agg({"empty_comment": ["sum", "count"]})
dfComentarios.columns = ["empty", "total"]
dfComentarios.head()

             empty   total
experiencia
0.0          64288  281199
1.0          19115  208661
2.0           6924   49338
3.0           4961   14339
4.0           3617   14477

In [11]:
dfComentarios["porcentaje"] = dfComentarios["empty"] / dfComentarios["total"]
dfComentarios.head()

             empty   total  porcentaje
experiencia
0.0          64288  281199    0.228621
1.0          19115  208661    0.091608
2.0           6924   49338    0.140338
3.0           4961   14339    0.345979
4.0           3617   14477    0.249845

In [13]:
dfComentarios.reset_index()[["experiencia", "porcentaje"]]

      experiencia  porcentaje
0             0.0    0.228621
1             1.0    0.091608
2             2.0    0.140338
3             3.0    0.345979
4             4.0    0.249845
...           ...         ...
1115     112565.0    0.188114
1116     163772.0    0.000000
1117     193345.0    0.095733
1118     194876.0    0.126281
1119     379263.0    0.000000

[1120 rows x 2 columns]