### 49. Si decimos que un usuario sabe un idioma cuando tiene un nivel de babel mayor o igual a 1, para aquellos que editaron una de las versiones actuales del contenido, ¿Cuál es la tasa de revisiones sin comentario que realizan en función de los idiomas que saben? (⭐⭐⭐)

In [1]:
import numpy as np
import pandas as pd

In [2]:
def level_conv(x):
    return np.NaN if x == "N" else np.int32(x)

dfBabel = pd.read_csv("../Dataset/languages.csv", usecols = ["babel_user", "babel_level"], converters = {"babel_level": level_conv})
dfBabel.head()

   babel_user  babel_level
0     4502458          2.0
1     5928200          0.0
2       46918          0.0
3     2050449          1.0
4     4715583          0.0

In [3]:
dfContents = pd.read_csv("../Dataset/contents.csv", usecols = ["revisor_id", "revisor_comment"])
dfContents.head()

   revisor_id                                    revisor_comment
0   1708233.0                                     Así esta mejor
1         NaN                                   Añadir contenido
2   4642283.0  Reemplazos con [[Usuario:Benjavalero/Replacer|...
3   5338508.0  Reemplazos con [[Usuario:Benjavalero/Replacer|...
4   3615366.0  Correcciones ortográficas con [[Usuario:Benjav...

In [4]:
dfBabel["sabe_idioma"] = dfBabel["babel_level"] >= 1
dfBabel.head()

   babel_user  babel_level  sabe_idioma
0     4502458          2.0         True
1     5928200          0.0        False
2       46918          0.0        False
3     2050449          1.0         True
4     4715583          0.0        False

In [7]:
dfIdiomasPorUsuario = dfBabel.groupby("babel_user").agg({"sabe_idioma": "sum"})
dfIdiomasPorUsuario.columns = ["idiomas"]
dfIdiomasPorUsuario.head()

            idiomas
babel_user
30                8
38                1
262               3
267               3
294               5

In [8]:
dfContents["empty_comment"] = dfContents["revisor_comment"].isna()
dfContents.head()

,revisor_id,revisor_comment,empty_comment
0,1708233.0,Así esta mejor,False
1,NaN,Añadir contenido,False
2,4642283.0,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False
3,5338508.0,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False
4,3615366.0,Correcciones ortográficas con [[Usuario:Benjav...,False

In [9]:
dfMerged = dfContents.merge(dfIdiomasPorUsuario,
                            how = "inner",
                            left_on = "revisor_id",
                            right_on = "babel_user")
dfMerged.head()

,revisor_id,revisor_comment,empty_comment,idiomas
0,4642283.0,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False,3
1,4642283.0,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False,3
2,4642283.0,Enlaces externos,False,3
3,4642283.0,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False,3
4,4642283.0,Reemplazos con [[Usuario:Benjavalero/Replacer|...,False,3

In [10]:
dfComentarios = dfMerged.groupby("idiomas").agg({"empty_comment": ["sum", "count"]})
dfComentarios.columns = ["empty", "total"]
dfComentarios.head()

         empty   total
idiomas
0        12978   39966
1        27200  170047
2        22769  252446
3        36403  148244
4         8469   95896

In [14]:
dfComentarios["porcentaje"] = dfComentarios["empty"] / dfComentarios["total"]
dfComentarios.reset_index()[["idiomas", "porcentaje"]]

    idiomas  porcentaje
0         0    0.324726
1         1    0.159956
2         2    0.090194
3         3    0.245561
4         4    0.088314
5         5    0.166080
6         6    0.068543
7         7    0.280461
8         8    0.230291
9         9    0.095753
10       10    0.055972
11       11    0.011200
12       12    0.250000
13       13    0.221667
14       15    0.122137
15       16    0.140496
16       17    0.000000
17       18    0.000000
18       20    0.500000
19       21    0.697479
20       22    0.050818
21       33    0.149660